 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                  <img class="img-responsive" src="img/profile.jpg" alt="">
                </div>
                <div class="col-lg-4">
                    <p>Working as an ethnographer in the filed of technology means the research that I do looks into how technology design and deployment should be and could be appropriate to the socio-economic status, be it the next smart city plan or the next digital work tool.</p>
                    <p>Being part of the technology for emerging market team, my current project focus lies where the future of work intersects with the future of health care, particularly in low resource settings. Hence my research broadly falls into the areas of Human Computing Interaction (HCI), Computer Supported Collaborative Work (CSCW) and Information Communication Technology for Development (ICTD). </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
