<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ post.title }}</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered"
                            alt="{{ post.alt }}">
                        
                            {% if post.organisation %}
                        <p class="post-desc"><strong>Organisation:</strong>
                            <strong><a href="http://startbootstrap.com">{{ post.organisation }}</a>
                            </strong>
                        </p>
                        {% endif %}
                        
                        {% if post.team %}
                        <p class="post-desc"><strong>Team:</strong>
                            {{ post.team }}  
                        </p>
                        {% endif %}

                        {% if post.core-techniques %}
                        <p class="post-desc"><strong>Core Techniques:</strong>
                            {{ post.core-techniques }}  
                        </p>
                        {% endif %}

                        {% if post.description %}
                        <p class="post-desc">{{ post.description }}</p>
                        {% endif %}
                        <div class="article-wrap post-desc">
                            {{ post.content }}
                        </div>
                        <ul class="post-addtnl list-inline item-details">
                            {% if post.outcome %}
                            <li>Outcome:
                                <strong><a href="http://startbootstrap.com">{{ post.outcome }}</a>
                                </strong>
                            </li>
                            {% endif %}
                            {% if post.project-date %}
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">{{ post.project-date }}</a>
                                </strong>
                            </li>
                            {% endif %}

                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
                            Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}